/**********************************************************************
 * VARS
 **********************************************************************/

$max-width: 1366px;
$magic-number: 1.414;
$header-font: "Lato", Arial, sans-serif;
$body-font: "Lato", Arial, sans-serif;
/**********************************************************************
 * BASE
 **********************************************************************/

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
}

p {
    font-family: $body-font;
}

body {
    font-size: 100%;
}

.preloader {
    z-index: 999;
    padding-top: 20%;
    background-color: #fff;
    text-align: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.hide-me {
    display: none;
}

.no-pointers, .no-pointers:hover, .no-pointers:visited, .no-pointers:active, .no-pointers:focus {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.browserupdate {
    display: block;
    margin-bottom: 3em;
    padding: 2em;
    color: #fff;
    text-align: center;
    background-color: red;
}

.browserupdate a {
    color: #fff;
    text-decoration: underline;
}

.browserupdate a:hover {
    color: #ddd;
}
/**********************************************************************
 * MODULE
 **********************************************************************/


/**********************************************************************
 * MEDIA QUERIES
 **********************************************************************/

@media screen and (min-width: 0px) and (max-width: 1366px) {}
